@import url(../css/fonts.css);
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.site-header {
  padding-bottom: 180px;
  background-image: url(../img/bg.jpg);
  border-bottom: 10px solid #D61919;
}

.site-header .brand-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .brand-menu .logo {
  display: block;
  padding: 24px 23px 16px 23px;
}

.site-header .brand-menu .logo:hover {
  background-color: #D61919;
}

.active {
  background-color: #D61919;
}

.menu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-navigation ul .nav-item a {
  display: block;
  padding: 31px;
  text-decoration: none;
  text-transform: uppercase;
  font: 30px Alternate Got No3D, sans-serif;
  color: #B5CBD1;
}

.menu-navigation ul .nav-item a:hover {
  color: #000;
  background-color: #D61919;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 107px;
}

#main {
  padding-bottom: 50px;
  background-color: #0F1318;
}

#main .section-head {
  text-transform: uppercase;
  font: 52px Alternate Got No3D, sans-serif;
  color: #B5CBD1;
  padding: 25px 45px;
}

#main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #D61919;
  border-top: 3px solid #D61919;
}

#main ul li {
  width: 30%;
  margin: 25px;
  text-align: center;
  text-transform: uppercase;
  font: 30px Alternate Got No3D, sans-serif;
}

#main ul li h2 {
  padding: 30px 0 20px 0;
  color: #D61919;
}

#main ul li h3 {
  padding: 0 0 25px 0;
  color: #B5CBD1;
}

#main ul li .address {
  display: block;
  width: 30%;
  text-align: center;
  font-size: 25px;
  line-height: 28px;
  margin: 0 auto;
  color: #B5CBD1;
}

#main ul li a {
  display: inline-block;
  padding: 10px;
  font: 25px Berthold Akzidenz Grotesk BE Light Condensed, sans-serif;
  text-decoration: none;
  color: #B5CBD1;
}

#main ul li a:hover {
  background-color: #B5CBD1;
  color: #000;
  border: 2px solid #D61919;
  border-radius: 15px;
}

#main .executive-producer {
  padding: 35px 0;
  text-align: center;
  text-transform: uppercase;
  font: 30px Alternate Got No3D, sans-serif;
  border-bottom: 3px solid #D61919;
}

#main .executive-producer h2 {
  padding: 30px 0 20px 0;
  color: #D61919;
}

#main .executive-producer h3 {
  padding: 0 0 25px 0;
  color: #B5CBD1;
}

#main .executive-producer .address {
  display: block;
  width: 11%;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  margin: 0 auto;
  color: #B5CBD1;
}

#main .executive-producer a {
  display: inline-block;
  padding: 8px;
  font: 25px Berthold Akzidenz Grotesk BE Light Condensed, sans-serif;
  color: #B5CBD1;
  text-decoration: none;
}

#main .executive-producer a:hover {
  background-color: #B5CBD1;
  color: #000;
  border: 2px solid #D61919;
  border-radius: 15px;
}
