@import url(../css/fonts.css);
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.site-header {
  padding-bottom: 180px;
  background-image: url(../img/bg.jpg);
  border-bottom: 10px solid #D61919;
}

.site-header .brand-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .brand-menu .logo {
  display: block;
  padding: 24px 23px 16px 23px;
}

.site-header .brand-menu .logo:hover {
  background-color: #D61919;
}

.active {
  background-color: #D61919;
}

.menu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-navigation ul .nav-item a {
  display: block;
  padding: 32px;
  text-decoration: none;
  text-transform: uppercase;
  font: 30px Alternate Got No3D, sans-serif;
  color: #B5CBD1;
}

.menu-navigation ul .nav-item a:hover {
  color: #000;
  background-color: #D61919;
}

.main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 107px;
}

#main-directors {
  border-top: 10px solid #D61919;
  background-color: #0F1318;
  color: #B5CBD1;
  padding-bottom: 100px;
}

#main-directors h2 {
  margin-top: 23px;
  margin-left: 74px;
  text-transform: uppercase;
  font: 32px Alternate Got No3D, sans-serif;
}

.director-list {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 23px;
}

.director-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 61px;
  border-top: 3px solid #D61919;
}

.director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.director h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: #D61919;
  text-align: center;
}

.director img {
  margin-bottom: 25px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description p {
  font: 38px Berthold Akzidenz Grotesk BE Light Condensed, sans-serif;
  margin-left: 44px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 44px;
}

.works span {
  font-size: 30px;
  text-transform: uppercase;
  padding-right: 5px;
}

.works a {
  text-decoration: none;
  text-transform: uppercase;
  color: #D61919;
  font-size: 30px;
  padding: 3px 15px;
}

.works a:hover {
  background-color: #D61919;
  color: #000;
  border-radius: 18px;
}
