@font-face {
    font-family: "Berthold Akzidenz Grotesk BE Light Condensed";
    src: url("../fonts/AkzidenzGroteskBELightCn.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alternate Got No3D";
    src: url("../fonts/AlternateGotNo3D.otf");
    font-weight: normal;
    font-style: normal;
}